nav {
  cursor: pointer;
  background-color: gray;
  width: 100%;
 
  position: relative;
  @include flexbox($alignItems: center, $justifyContent: flex-start);
  list-style: none;
  padding: 0.5rem 0rem;

  .navbar-nav {
    width: 100%;
    font-size: 1.75rem;
    @include flexbox($justifyContent: flex-start);
    list-style: none;
    @include md {
      display: none;
      &.open{
      @include flexbox($direction: column, $alignItems: center);
      margin-top: 10%;
      width: 100%;
      }
    }

    .logoContainer{
      margin-right:auto ;
      @include md{
        margin-right: 0;
        width: 100%;
        background-color: gold;
      }
    }

    .nav-item{
      margin-left:1.5% ;
      
    }
  }

  .hamburger-menu {
    @include md {
      position: absolute;

      top: 1.5rem;
      right: 2rem;
      display: none;
      width: 40px;
      height: 31px;
      @include flexbox($justifyContent: space-between, $direction: column);
      .line {
        height: 3px;
        width: 100%;
        background-color: white;
      }
    }
  }
}
